.nav {
    background-color: #FFB4B0;
    height: 43px;
    border: 2px solid black;
    margin: 0 100px;
}

.nav > li {
    list-style-type: none;
    margin: 13px 0 5px 0;
    font-family: "Arial";
    cursor: auto;
    display: inline-block;
}

.text {
	font-size: 14px;
    text-align: left;
}

body {
    width: 1000px;
    margin: auto;
}
#sidebar {
    border: 2px solid black;
    background-color:  #4DD7FA;
    margin: 0px 0 10px 100px;
    float: left;
    font-family: Arial;
    height: 380px;
    width: 150px;

}
form {
    font-family: arial;
    margin-bottom: 50%;
    text-align: left;
}

#MainBar {
    background-color: #FEFAC0;
    border: 2px solid black;
    margin: 10px 100px 10px 265px;
    height: 380px;
}

.name {
    font-family: arial;
    font-size: 18pt;
    color: #785616;
    margin-left: 18px;
}

.info {
    font-family: arial;
    margin-left: 15px;
    margin-top: -10px;
}

.type {
    font-size: 10pt;
    margin-left: 5pt;
}

.wrapper {
    text-align: center;
}

#list-music {
    font-size: 14px;
    text-align: left;
}

#add-music {
    font-size: 14px;
    text-align: left;
    list-style-type: none;
    margin: 13px 0 5px 0;
    font-family: "Arial";
    cursor: auto;
    display: inline-block;
}

.visible {
  display: block;
}

.visible2 {
display: inline-block;
float: left;
clear: left;
text-align: right;
position: absolute;
left:30%;
margin-top: -70px;
}

.hidden {
  display: none;
}

#inputField {
    margin: auto;
    width: 25%;
    padding: 10px;
}
#inputField {
    font-family: arial;

}