.nav {
    background-color: #FFB4B0;
    height: 43px;
    border: 2px solid black;
    margin: 0 100px;
}

.nav > li {
    list-style-type: none;
    margin: 13px 15px 5px 15px;
    font-family: "Arial";
    cursor: pointer;
    display: inline-block;
}

.text {
	font-size: 14px;
    text-align: left;
}

body {
    width: 1000px;
    margin: auto;
}
.sidebar {
    border: 2px solid black;
    background-color:  #4DD7FA;
    margin: 10px 0 10px 100px;
    float: left;
    font-family: Arial;

}
form {
    font-family: arial;
}

.MainBar {
    background-color: #FEFAC0;
    border: 2px solid black;
    margin: 10px 100px 10px 255px;
}

.name {
    font-family: arial;
    font-size: 18pt;
    color: #785616;
}